.label-form {
    min-width: 100px;
}

.label-form-login {
    min-width: 20px;
}

.sem_borda td, .sem_borda th {
    border: none
}

.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
    background-color: #e5e5e5;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.show {
    display: unset;
}

.hide {
    display: none;
}

.label-alternativa {
    cursor: pointer;
}

.textarea-customizado {
    min-height: 20px;
    overflow: hidden;
    border-radius: 0;
    border: none;
    resize: unset;
    background-color: #FFE53E !important;
    box-shadow: none !important;
}
textarea{
    resize: none;
    height: 150px;
}

.nav-header-pills .nav-item {
    font-weight: bold;
    margin: .5em;
}
.links{
    float:right;
    padding: 10px;
}
.color{
    border-color: #ed9c2e;
    color: #ed9c2e;
}
.carousel-caption-center {
    position: absolute;
    right: 15%;
    bottom: 60%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.img-logo{
    margin-left: 10%;
    width: 150px;
    border-radius: 6px;
}
td {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mt-7{
    margin-top: 8rem;
}
#link1{
    padding: 10px 20px;
}
#link2{
    padding: 10px 20px;
}
#link3{
    padding: 10px 20px;
}

.btn-orange{
    background-color: #ED9C2E;
    border-radius: 10%;
    width: 70px;
}
/*.btn-orange1{
    background-color: #ED9C2E;
    border-radius: 10%;
    border-radius: .25rem;
    text-decoration: none;
}
.btn-grey{
    background-color: #343A40;
    border-radius: 10%;
    border-radius: .25rem;
    opacity: 0.8;
    color: white;
}*/
.alert-warning{
    color: black;
    background: #f8d45f;
    opacity: 0.5;
}
.carousel-control-prev-icon { 
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%458089' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
    transform: scaleX(1);
}
.carousel-control-next-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%458089' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    transform: scaleX(1);
}
.modal-footer{
    display: flex;
    justify-content: center;
}
#pergunta{
    height: 150px;
}